
.home{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5vh;
    position: absolute;
    z-index: 10;
    top: 40vh;
    padding: 5vh 5vw 5vh 5vw;
    
}

@media all and (min-width: 375px) {
    .home{
        padding: 4vh 25vw ;
    }

}