
.pledge{
    text-align: left;
    line-height: 1.3rem;
}

.pledge-title > h3 {
    margin-bottom: 10px;
}

.pledge-title > p {
    margin-bottom: 15px;
}

.pledgecard-section  {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5vh;
    justify-content: center;
}