

.modal {
    font-size: 12px;
    top: -55vh;
    height: max-content;
    padding: 0vh 5vw ; 
  }
  .modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
  .modal > .content {
    width: 100%;
  }
  .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
  }
  .modal > .close {
    width: 40vw;
    position: absolute;
    padding: 0;
    right: -25vw;
    top: 5vh;
  }

@media all and (min-width: 600px) {
  .modal {
    padding: 0vh 25vw ; 
  }

  .modal > .close {
    width: 40vw;
    position: absolute;
    padding: 0;
    right: -10vw;
    top: 5vh;
  }
}