.reward{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}

.pledge-text{
    color: hsl(176, 50%, 47%);
}

.reward-title > h3{
    font-size: 0.8rem;
    font-weight: 800;
    margin-bottom: 10px;
}

.pledge-text > h4{
    font-size: 0.75rem;
    font-weight: 650;
    margin-bottom: 20px;
}

.description{
    margin-bottom: 20px;
    font-size: 0.75rem;
    line-height: 1rem;
    white-space: unset;
}

.left > span {
    align-items: center;
    font-size: 1.8rem;
    font-weight: 800; 
}

.reward > .btn {
    justify-self: start;
    align-self: flex-start;
}