@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700&display=swap');

.App{
    width: 100vw;
    margin: 0;
    font-family: 'Commisioner', sans-serif;
}

body{
    font-family: 'Commisioner', sans-serif;
}

.bg{
    /* background: url(./images/image-hero-mobile.jpg) no-repeat;
    background-size: cover;
    background-position: center; */
    width: 100vw;
    /* height: 45vh; */
}

.bg > img {
    width: 100vw;
    height: 55vh;
}

.bg > .desktop {
    display: none;
}

@media all and (min-width: 600px) {
    .bg > .mobile {
        display: none;
    }

    .bg > .desktop {
        display: block;
    }
}

